@font-face{
	font-family: 'Open Sans', sans-serif;
     src: url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

}
body{
	font-family: 'Open Sans', sans-serif;

    /*background-image:  url(../images/bg-about.jpg) no-repeat top center;*/

}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}

.navbar-default{
	background-color: #fff;
	border-color: #fff;
	padding: 10px 15px;
    margin: 0;
}
.navbar-brand-right{
    float: right;
}
.navbar-brand-left{
    display: inline-block;
}
.header-section{
	position: fixed;
  left: 0;
  right:0;
  top: 0;
  padding:15px;
  z-index: 100;
  background: #ffffff57;
  transition: 0.4s cubic-bezier(0.67, 0.35, 0, 0.24);
}
.overlay{
  background: #000;
  opacity: 0.5;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.disclaimer{
  background: #000000bf;
  color: #fff;
  padding: 30px;
  max-width: 1000px;
  margin: auto;
  position: relative;
  z-index: 102;
  border: 2px solid #fff;
  display: none;
}
.disclaimer p{
  text-align: justify;
}
.disclaimer button{
  background: transparent;
  color: #fff;
  padding: 5px 20px;
  margin: auto;
  display: block;
  border: 1px solid;
}
.disclaimer button:hover{
  background: #f4ad33;
  border-color: transparent;
}
#myNavbar{
    float: left;
}
.navbar-nav{
    padding-top: 5px;
}
::selection {
    background: #f4ad33;
    color: #fff;
    text-shadow: none;
}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #f4ad33;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #080808;
}
.navbar-default .navbar-toggle{
    border-color: #333;
}
.navbar-default .navbar-toggle span{
    color: #333;
}
.navbar-default .navbar-nav>.active>a{
	background-color: #00b200;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #080808 !important; 
}
.navbar-default .navbar-nav>li>a{
	/*margin: 20px 5px 5px 5px;*/
}
.navbar-toggle{
	margin-top: 28px;
    margin-right: 40px;
}
.navbar-default .navbar-collapse{
    border-color: #f4ad33;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #f4ad33;
}
.navcarbox {
    padding-left:5px;
    display: block; 
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #f7941d;
    
}
.navbar-brand img {
    /*float: left;
    transition: all .5s ease-out;
    margin: 0;
    margin-left: 20px;
    width: 150px;*/
}

.navbar-right  li a{
    color: #333;
    /*font-weight: 900;*/
}

/* Slider CSS */
/* Carousel Styles */

/* Carousel Styles */

.carousel-control {color: #e2e2e2;}

.carousel-indicators .active {background-color: #f4ad33;}
.carousel-inner img {width: 100%;height: 50%}
.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}
.carousel-control.left span {margin-left: 50px;}
.carousel-control.right span {margin-right: 50px;}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
	
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
	
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: none;
	
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 35%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
    font-size:18px;
    letter-spacing:1px;
}

.header-text h2 {font-size: 60px;color:#fff; font-weight:600;}
.header-text h2 span {padding: 10px; color:orange;}
.header-text h3 span {padding: 15px;}

.btn-min-block {min-width: 170px;line-height: 26px;}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #f7941d;
    border-color: #fff;
}
.banner{
	/*margin-top: 20px;*/
}

.bg-about {
	padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
    background: url('../../images/bg-about.jpg');
    background-attachment: fixed;
}
.wrap{
	text-align: center;
}
.bg-about p{
	text-align: justify;
}
/*testimonial style*/
         .testimonial-container ul,li{
         padding:0;
         margin: 0;
         /*list-style: none !important;*/
         }
         .testimonial-container{
         text-align: center;
         width: 100%;
         height: 300px;
         margin: auto;
         /*margin-bottom: 30px;*/
         /*margin-top: 30px;*/
         display: inline-block;
         background-color: #f4ad33;
         }
         .testimonial-container ul{
         }
         .testimonial-container ul li{
         display: none;
         }
         .testimonial-container ul li:first-child{
         display: block;
         }
         .testimonial-container ul li img{
         display: block;
         width: 100%;
         margin: auto;
         height: 150px;
         width: 150px;
         border-radius: 50%;
         }
         .testimonial-container ul li label{
         color: #888;
         padding-top: 20px;
         display: block;
         }
         .testimonial-container ul li p{
         text-align: justify;
         padding: 0 10%;
         }
         .testimonial-container span{
         text-align: center;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 50px 0;
         }
         .testimonial-container span strong{
         background: #626465;
         height: 10px;
         width: 10px;
         border-radius: 25px;
         display: inline-block;
         margin: 0 5px;
         cursor: pointer;
         transition: 0.3s ease;
         
         }
         .testimonial-container span strong:hover{
         width: 30px;
         background: #626465;
         }
         .active_testimonial{
         width: 30px !important;
         background: #626465 !important;
         }

         @media screen and (max-width: 480px) {
            .testimonial-container span{
         text-align: center;
          display: block;
          position: static;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 50px 0;
         }
         }


.footer-content {
	color: #fff;
	background-color: #626465;
	
}
.footer-content p a {
    color: #fff;
}



.social_media li {
	display: inline-block !important;
	font-size: 20px;
	padding: 0px 10px 0px 10px;
    margin-left: 40px;
    padding-top: 5px;
}
.Enquire-now span a{
	font-size: 25px ;
    
}

ul.social_media li a .fa {
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    color: #fff;
}

.fa-facebook{
	color: #fff;
	background-color: #3c5b9b;
	
}
.fa-twitter{
	color: #fff;
	background-color: #45a9e1;
	
}
.fa-instagram{
	color: #fff;
	background: linear-gradient(#6543c5,#da4176, #f9cd69);
	
}
.fa-youtube{
	color: #fff;
	background-color: #ea3f33;
	
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 1;
    /*visibility: hidden;
    overflow: hidden;*/
    text-align: center;
    z-index: 99999999;
    /*background-color: #777777;*/
    color: #000;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 0px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

.typeform-share{
    background-color: #f4ad33;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 10px 15px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: fixed;
    top: 100px;
    right: 5px;
    z-index: 100;
    border-radius: 30px;
}
.nav-header{
    list-style: none;
    padding:0;
    text-align: center;
    margin: 0;
    line-height: 65px;
    display: inline-block;
}
.nav-header li{
    display: inline-block;
}
.nav-header li a{
    color: #000;
    padding: 10px 10px;
    border: 1px solid #000;
}
.left-logo{
    float: left;
}
.right-logo{
    float: right;
}
.hamburger{
    font-size: 30px;
    border: 1px solid #333;
    padding: 10px;
    cursor: pointer;
    float: right;
    display: none;
}
.header-section:after{
    display: block;
    content: '';
    clear: both;
}
.enquire-now{
    background: #f4ad41;
    position: fixed;
    top: 50%;
    left: -42px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 10px;
    z-index: 100;
    text-transform: uppercase;

}
/*.enquire-now::after{
    content: "Call us";
    background: red;
    color: #fff;
    position: fixed;
}*/
.call-us{
    padding: 13px;
    background: #f4ad41;
    position: fixed;
    top: 37%;
    cursor: pointer;
}
.call-us i{
    cursor: pointer;
}
.call-us span{
    display: none;
}
.call-us span a{
    color: #fff;
    padding-left: 10px;
}
@media only screen and (max-width: 1220px) {
    .nav-header{
        margin-top: 75px;
        display: block;
        line-height: 25px;
        display:none;

    }
    .nav-header li{
        display: block;
    }
    .right-logo-toggle{
        float: none;
        text-align: center;
        display: block !important;
    }
    .hamburger{
        display: block;
    }
    
}
@media only screen and (max-width: 768px) {
    .navbar-brand img{
        width: 200px !important;
        
    }
    .social_media li{
        font-size: 18px !important;
    }
    .testimonial-container{
         text-align: center;
         width: 100%;
         height: 550px;
         margin: auto;
         /*margin-bottom: 30px;*/
         margin-top: 30px;
         display: inline-block;
         background-color: #fcb415;
         }
     .banner {
    /*margin-top: 100px;*/
    }   
    .right-logo{
        display: none;
    }
    .testimonial-container span{
         text-align: center;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 50px 0;
         }
         .enquire-now{
            right: -38px;
            left: unset;
        }
        .call-us{
            right: 0;
        }
}




